/* Algemene stijlen */
body {
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: lightblue; /* Verander de achtergrondkleur hier */
  color: mediumturquoise;
}

/* Stijlen voor de koptekst met gloeiend effect */
header {
  background-color: black;
  color: turquoise;
  text-align: center;
  animation: glowing 2s linear infinite; /* Pas het gloeiende effect toe */
}

/* Stijlen voor Heading 2 met gloeiend effect */
h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: turquoise;
  text-align: left;
  animation: glowing 2s linear infinite; /* Pas het gloeiende effect toe */
}

@keyframes glowing {
  0% {
      color: #99FFFF;
      text-shadow: 0 0 5px #99FFFF; /* Zet de initiële schaduwkleur en grootte */
  }
  50% {
      color: #99FFFF; /* Verander de tekstkleur op de helft */
      text-shadow: 0 0 20px #99FFFF, 0 0 30px #99FFFF; /* Vergroot de schaduwgrootte */
  }
  100% {
      color: #99FFFF;
      text-shadow: 0 0 5px #99FFFF; /* Reset naar de initiële schaduwkleur en grootte */
  }
}

/* Stijlen voor de container */
.container {
  margin-top: 20px;
}

/* Stijlen voor het formulier */
.form-group {
  margin-bottom: 15px;
}

/* Sorteer knop boven McLaren */
.sort-button {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 2; /* Zet de z-index hoger dan de andere elementen */
  border-radius: 5px;
  color: aqua;
  background-color: white;
  font-style: italic;
}

/* Container voor filters en sorteer knop */
.filter-sort-container {
  position: relative;
}

/* Filters */
.filters {
  /* Stijlen voor je filters */
}

/* Knoppencontainer */
.big-box-buttons {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 1; /* Zet de z-index lager dan de sorteer knop */
}

/* Stijlen voor autokaarten */
.car-box {
  border: 1px solid #ddd;
  padding: 20px; /* Verhoogde padding voor meer ruimte */
  margin: 10px;
  text-align: center;
  background-color: oldlace;
  display: inline-block; /* Toon auto's in een horizontale rij */
  width: calc(33.33% - 20px); /* Aangepaste breedte om ze langer te maken */
  vertical-align: top; /* Lijn auto's uit met de bovenkant van de rij */
  box-sizing: border-box;
  position: relative; /* Toegevoegd voor het positioneren van het favoriete pictogram */
  height: 400px; /* Aangepaste hoogte om ze langer te maken */
}

/* Stijlen voor auto-afbeeldingen binnen de car-box */
.car-box .image-box {
  overflow: hidden;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.car-box .image-box img {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.car-box .image-box img:hover {
  transform: none; /* Verwijder de zoomtransformatie */
}

/* Stijlen voor auto-afbeeldingen (maak ze kleiner) */
.car-image {
  max-width: 100%;
  height: auto;
  cursor: pointer; /* Voeg cursor toe voor aanwijzer bij het klikken op afbeeldingen */
}

/* Stijlen voor autotitels */
.car-box h5 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 10px;
}

/* Stijlen voor autoprijzen */
.car-box p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
  margin: 0;
}

/* Bijgewerkte stijlen voor autodetails */
.car-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: lightblue;
  border-top: 1px solid #ddd;
}

.car-price {
  font-weight: bold;
}

/* Stijlen voor het favoriete pictogram */
.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.car-box .btn {
  background-color: white;
  border-radius: 5px;
}

/* Achtergrondafbeelding stijlen */
.bg-image {
  background-image: url('../img/SharpJan20.jpg'); /* Vervang door je eigen achtergrondafbeelding */
  background-size: cover;
  position: relative;
  height: 100vh; /* Pas de hoogte aan zoals nodig, dit vult het venster */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-text {
  font-style: italic;
  color: lightblue;
  font-size: 24px;
  text-align: left;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

/* Stijlen voor auto-afbeeldingen */
.car-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer; /* Voeg cursor toe voor aanwijzer bij het klikken op afbeeldingen */
}

/* Stijlen voor modale inhoud */
.modal-content {
  background-color: #f8f9fa;
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
  text-align: center;
  display: block;
}

.car-box .btn {
  background-color: mediumturquoise;
  border-radius: 15px; /* Toegevoegde border-radius */
  padding: 10px 10px; /* Aangepaste padding voor grotere knoppen */
  font-size: 10px; /* Aangepaste lettergrootte voor grotere knoppen */
  margin-top: 10px; /* Toegevoegde marge voor ruimte */
}

.col-md-3 {
  position: sticky;
  top: 20px; /* Pas de topwaarde aan zoals nodig */
  height: fit-content;
}

/* Voeg een vak toe rond de afbeeldingsvakken */
.car-list-container {
  border: 2px solid #ddd; /* Randkleur en breedte */
  padding: 20px; /* Voeg wat padding toe voor ruimte */
  border-radius: 10px; /* Optioneel: voeg afgeronde hoeken toe */
}

.car-list-container .row {
  margin: -10px; /* Pas negatieve marge aan om padding op car-box elementen tegen te gaan */
}

.button-container {
  text-align: center;
}

.big-box {
  position: relative;
}

.big-box-buttons {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.big-box-buttons button {
  margin-right: 10px; /* Toegevoegde marge tussen knoppen */
}

/* Aanvullende stijlen voor car-details-container */
.car-details-container {
  display: none;
}

/* Aanvullende stijlen voor car-details */
.car-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: lightblue;
  border-top: 1px solid #ddd;
}

/* Aanvullende stijlen voor autotitels in car-details */
.car-details h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Aanvullende stijlen voor prijsknoppen in car-details */
.car-details .btn-primary {
  background-color: mediumturquoise;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
}

/* Aanvullende stijlen voor de modale inhoud */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  margin: 10% auto;
  max-width: 600px;
}

/* Toegevoegde stijlen voor de modale afbeelding */
.modal-content img {
  width: 100%;
  height: auto;
  max-height: 300px; /* Pas de maximale hoogte aan zoals nodig */
  object-fit: cover;
}

/* Toegevoegde stijlen voor de sluitknop van de modale inhoud */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Aanvullende stijlen voor de navigatieknoppen */
.btn-primary {
  background-color: mediumturquoise;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: white;
  color: mediumturquoise;
  border: 1px solid mediumturquoise;
}

/* Stijlen voor social media iconen */
.social-icons {
  text-align: center; /* Centreer de iconen */
  margin-top: 20px; /* Ruimte boven de iconen toevoegen */
}

.social-icons a {
  color: #333; /* Kleur van de iconen */
  font-size: 24px; /* Grootte van de iconen */
  margin: 0 10px; /* Marge tussen de iconen toevoegen */
  transition: color 0.3s; /* Overgangseffect voor de kleurverandering */
}

.social-icons a:hover {
  color: mediumturquoise; /* Verander de kleur van de iconen bij hover */
}

/* Stijlen voor de Sign Up knop */
#showSignupForm {
  background-color: mediumturquoise; /* Achtergrondkleur */
  color: white; /* Tekstkleur */
  padding: 12px 24px; /* Padding aanpassen */
  border: none;
  border-radius: 25px; /* Hoeken afgerond */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s; /* Overgangseffecten toevoegen */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtiele box-shadow */
}

#showSignupForm:hover {
  background-color: #008080; /* Donkerder tint van mediumturquoise */
  transform: translateY(-2px); /* Maak de knop iets omhoog wanneer erop wordt gehoverd */
}