/* Custom CSS styles */
body {
  font-family: Arial, sans-serif;
}

/* Header styles */
header {
  background-color: #333;
  color: white;
}

/* Container styles */
.container {
  margin-top: 20px;
}

/* Form styles */
.form-group {
  margin-bottom: 15px;
}

/* Car card styles */
.car-box {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: #f9f9f9;
  display: inline-block; /* Display cars in a horizontal row */
  width: calc(25% - 20px); /* Adjust the width as needed */
  vertical-align: top; /* Align cars to the top of the row */
  box-sizing: border-box;
}

/* Style for car images (make them smaller) */
.car-image {
  max-width: 100%;
  height: auto;
}

/* Style for car titles */
.car-box h5 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 10px;
}

/* Style for car prices */
.car-box p {
  font-size: 1rem;
  margin: 0;
}
